html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  
}

.header {
  font-family: cursive;
  padding-left: 15px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.brand {
  color: black;
  text-decoration: none;
}



.navLink{
  font-size: 1.5rem  !important;
  margin: 5px;
  color: black;
}

.navLinkDrop {
  font-size: 1.5rem  !important;
  margin: 5px;
  color: black;
}

.navLinkDropItem {
  font-size: 1.5rem;
  margin-left: 15px;
  color: black;
  text-decoration: none;
  width: 100%;
}



/* Welcome sec */

.welcome-container {
  margin-bottom: 75px;
}

.welcome {
  margin-top: 112px;
}
.welcomeTitle {
  font-family: cursive;
}

.welcomeRow {
  align-items: center;
}

.famPic{
  border-radius: 45%;
  width: 75%;
  height: auto;
}

/* Family Section */

.family {

  margin-top: 112px;
}

.familyTitle {
  margin-top: 20px;
  text-align: center;
}

/* Item List */

.itemdiv {
  display: flex;
  overflow-y: hidden;
  cursor: pointer;
  padding: 0;
}

/* item section */

.sizeAvail {
  display: inline-flex;
  justify-content: space-evenly;

}

.sizeAvail li {
  padding: 15px;
  list-style: none;


}

.imgDiv {
  text-align: center;
  width: 200px;
}

.itemimg {
  border-radius: 50%;
  text-align: center;
  height: 175px;
  width: 175px;
}

.itemP {
  padding-top: 15px;
  font-weight: bold;
  font-size: 1.5rem;
  
}

/* popup section */

.popUp-box {
  position: fixed;
  top: 17%;
  left: 10%;
  display: inline-flex;
  justify-content: center;
  width: 80%;
  height: 80%;
  border: 2px solid black;
  background: rgba(80, 78, 78, 0.75);
  overflow: auto;
  cursor: pointer;
  
}

.closeX {
  text-align: right;
  
  font-size: 1.5rem;
  padding-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popUpCard {
  width: 65%;
  background-color: white;
  margin: 8px auto;
  overflow-x: hidden;
  border: 5px solid black;
  
}

.popUpImg {
  height: 250px;
}

.cardText {
  padding-left: 10px;
  margin-bottom: 0;
}

.cardText1 {
  padding-left: 15px;
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .popUpCard {
    text-size-adjust: 80%;
  }

  .popUp-box {
    max-height: 65%;
  }
}